.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --dark-purple: #4d246f;
  --purple: #8c5ca4;
  --dark-blue: #303958;
  --grey-blue: #afafd7;
  --light-blue: #59b7e9;
  --grey: #99b7cf;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--purple);
}

.main {
  width: 70%;
  height: 70%;
}

.main-content {
  display: flex;
}

.spinning-cube {

}

.logo-container {

}

h1 {
  margin: 0;
  padding: 0;
}